/* general */

* {
    background: white;
    color: black;
    font: 1em/1.4em helvetica, sans-serif;    
    margin: 0;
}







/* top bar */




/* products */
body {
    background-color: #ddd;
    color: #111;
    font: 1em helvetica, arial, sans-serif;
  }

.products {
    display: grid;
    grid-gap: 1em;
}
  
.column-view {
    grid-template-columns: 1fr 1fr;
}
  
.product {
    background-color: #fff;
    padding: 0 1em;
    /* margin: 1em 0; */
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    position: relative;
}



header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}
 
.header a {
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	color: black;
	border-radius: 0;
	padding: 12px;
}
  
#logo {
	font-size: 25px;
	font-weight: bold;
}
  
.header a:hover {
	background-color: green;
	color: white;
}
  
.header a.active {
	background-color: white;
	color: gray;
}
  
.header-right {
	float: right;
}

footer {
	background-color: #f1f1f1;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.header a {
		float: none;
		display: block;
		text-align: center;
	}
	.header-right {
		float: none;
	}
	main {
		width: 300px;
	}

	footer {
		width: 300px;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	body {
		width: 960px;
		margin: 0 auto;
	}
}
