/* general */

* {
    color: black;
    font: 1em/1.4em helvetica, sans-serif;    
}

body {
    background-color: #ddd;
}

footer {
	background-color: #f1f1f1;
}

/* nav bar */

nav {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}

nav a{
    float: left;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	color: black;
	border-radius: 0;
	padding: 12px;
}

nav a:hover {
    background-color: green;
	color: white;
}

/* products */

.products {
    display: grid;
    grid-gap: 1em;
}
  
.column-view {
    grid-template-columns: 1fr 1fr;
}
  
.product {
    background-color: #fff;
    padding: 0 1em;
    /* margin: 1em 0; */
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    position: relative;
}

.product-cost {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 2em;
    font-weight: bold;
}
.product-cost::before {
    content: "$";
    font-size: 0.75em;
    vertical-align: top;
}

.product-img {
    width: 10em;
}

.clothing {
    border-left: 0.5em solid magenta;
}

.garbage {
    border-left: 0.5em solid greenyellow;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.header a {
		float: none;
		display: block;
		text-align: center;
	}
	.header-right {
		float: none;
	}
	main {
		width: 300px;
	}

	footer {
		width: 300px;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	body {
		width: 960px;
		margin: 0 auto;
	}
}
